@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
  font-family: "Arbutus Slab", serif;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.control.has-icons-left .input,
.control.has-icons-left .select select {
  padding-left: 0.7em;
}

input::placeholder {
  color: rgb(88, 87, 87) !important;
}
